@charset "UTF-8";

body {
	width:99%;
	height:100%;
}

/*Formatação do menu principal*/

ul.lista-de-navegacao li {
	display:inline;
}

/*Formatação do cabeçalho principal*/

header a {
	text-decoration:none;
}

div#cabecalho-principal {
	height:68px;
	width:101%;
	background-color:rgb(32,35,35);
	margin:-16px 0px 0px -8px;
}

img#logo {
	position:relative;
	float:left;
	margin:24px 0px auto 15%;
}

ul#icones {
	position:relative;
	float:right;
	margin:22px 15% auto 0px;
}

ul#icones li {
	margin-right:20px;
}


/*Formtação do menu de navegação*/

	div#menu-de-navegacao {
		height:80px;
		width:101%;
		margin:0px 0px 0px -8px;
		background-color:white;	
	}
 
	ul#abas {
		margin-left:10%;
		position:relative;
		float:left;
		margin-top:30px;
	}

	ul#abas li {
		margin-right:10px;
		font-size:19px;
		color:rgb(139,139,139);
	}

	ul#abas li:hover {
		color:rgb(0,186,198);
	}

	ul#abas a {
		text-decoration:none;
	}

	input#id-caixa-de-busca {
		height:20px;
		position:absolute;
		right:10%;
		top:80px;
		float:right;
		padding:5px;
		background-image:url(../_imagens/icone-search.png);
		background-repeat:no-repeat;
		background-position:150px;
		border:solid 1px rgb(118,118,118);
	}

@media (max-width:900px) {
	input#id-caixa-de-busca {
		display:none;
	}
}

@media (max-width:635px) {
	ul#abas {
		position:absolute;
		margin-left:-35px;
	}
}

/*Formatação da imagem principal*/

img#imagem-principal {
	max-width:101%;
	margin-left:-8px;
}

/*Formatação do primeieira seção do site(section)*/

section#corpo-principal {
	width:80%;
	margin:0px auto 0px auto;
}

section#corpo-principal h1 {
	text-align:center;
	font-size:30px;
    color: #818181;
}

section#corpo-principal p {
	font-size:15px;
    color:#9a9a9a;
}

div#contents {
	margin-left:50px;
}

div#contents figure {
	width:25%;
}

figure#content-1 {
	float:left;
}

figure#content-2 {
	float:left;
	margin-top:100px;
}

figure#content-3 {
	float:left;
}

div#contents figure img {
	position:relative;
	left:20%;
	max-width:100%;
	height:auto;
}

@media(max-width: 1293px) {
	section#corpo-principal {
		width:100%;
	}
}

@media(max-width: 1037px) {
	div#contents figure {
		width:70%;
		margin-top:10px !important;
	}
}

/*Formatação do segunda seção do site(aside)*/

aside#corpo-secundario {
	width:101%;
	margin-left:-8px;
	clear:left;
	background-color:rgb(238,238,238);
}

aside#corpo-secundario::before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background-color: white;
    background-image: url(../_imagens/setinha.png);
    background-repeat: no-repeat;
    background-position: center;
}

div#grade-de-imagens {
	display:grid;
	grid-template-columns:25% 25% 25%;
	grid-template-rows:50% 50%;
	justify-content: center;
}

div#grade-de-imagens figure {
	border:1px solid rgba(197,197,197,0.8);
	padding:10px;
	margin:5px;
}

div#grade-de-imagens figure img {
	max-width:100%;
}

/*Formatação do rodapé(footer)*/

footer {
	width:101%;
	height:100%;
	margin-left:-8px;
	margin-top:-5px;
	margin-bottom:-16px;
	background-image:url(../_imagens/footer.png);
	background-repeat:no-repeat;
	color:white;
	
}

div.texto-rodape  {
	width:20%;
	position:relative;
	left:15%;
	display:inline-block;
	vertical-align:top;
	margin:10px;
}

div.texto-rodape p {
	text-align:left;
}

div.texto-rodape h3 {
	text-align:center;
}