@charset "UTF-8";

form {
	width:550px;
	margin:auto;
}

input, textarea {
	font-family:sans-serif;
	font-size:13pt;
	background-color:rgba(250,250,250,0.8);
}

input:hover, textarea:hover {
	background-color:#dddddd;
}

textarea {
	margin-left:50px;
}

legend {
	color:#888888;
	font-weight:bold;
	font-size:13pt;
	font-family:sans-serif;
}

fieldset {
	border-color:#cecece;
	margin:20px;
}

fieldset#sexo {
	width:150px;
	margin-left:50px;
}

fieldset#usuario {
	background-image:url("../_imagens/icone-contato.png");
	background-repeat:no-repeat;
	background-position:95% 95%;
}

fieldset#endereco {
	background-image:url("../_imagens/icone-endereco.png");
	background-repeat:no-repeat;
	background-position:95% 95%;
}

fieldset#mensagem {
	background-image:url("../_imagens/icone-mensagem.png");
	background-repeat:no-repeat;
	background-position:95% 95%;
}

fieldset#pagamento {
	background-image:url("../_imagens/icone-pagamento.png");
	background-repeat:no-repeat;
	background-position:95% 95%;
}

