@charset "UTF-8";

ul#album-fotos {
	width:700px;
	height:500px;
	margin:50px auto 10px auto;
	list-style:none;
}

ul#album-fotos li {
	float:left;
	width:200px;
	height:200px;
	margin:10px;
	border:3px solid #ffffff;
	box-shadow:1px 1px 3px rgba(0,0,0,0.4);
}

ul#album-fotos li:hover {
	transform:scale(1.5);

}

ul#album-fotos li span {
	color:white;
	text-shadow:1px 1px 1px black;
	background-color:rgba(0,0,0,0.3);
	font-size:9pt;
	line-height:370px;
	padding:5px;
	opacity:0;
	transition:opacity 1s;
}

ul#album-fotos li:hover span {
	opacity:1;
}

ul#album-fotos li#foto01 {
	background-image:url(../_imagens/galeria-01.jpg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:400px 400px;
	transition:background-size 1s;
}

ul#album-fotos li#foto01:hover {
	background-size:200px 200px;
}

ul#album-fotos li#foto02 {
	background-image:url(../_imagens/galeria-02.jpg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:400px 400px;
	transition:background-size 1s;
}

ul#album-fotos li#foto02:hover {
	background-size:200px 200px;
}

ul#album-fotos li#foto03 {
	background-image:url(../_imagens/galeria-03.jpg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:400px 400px;
	transition:background-size 1s;
}

ul#album-fotos li#foto03:hover {
	background-size:200px 200px;
}

ul#album-fotos li#foto04 {
	background-image:url(../_imagens/galeria-04.jpg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:400px 400px;
	transition:background-size 1s;
}

ul#album-fotos li#foto04:hover {
	background-size:200px 200px;
}

ul#album-fotos li#foto05 {
	background-image:url(../_imagens/galeria-05.jpg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:400px 400px;
	transition:background-size 1s;
}

ul#album-fotos li#foto05:hover {
	background-size:200px 200px;
}

ul#album-fotos li#foto06 {
	background-image:url(../_imagens/galeria-06.jpg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:400px 400px;
	transition:background-size 1s;
}

ul#album-fotos li#foto06:hover {
	background-size:200px 200px;
}

