@charset "UTF-8";

audio#musica {
	outline:none;
	display:block;
	position:relative;
	left:575px;
	top:495px;
	width:300px;
	height:40px;
}

video#filme {
	outline:none;
	display:block;
	position:relative;
	left:90px;
	top:85px;
	width:440px;


}

div#tv-radio{
	width:900px;
	height: 580px;
	margin:auto;
	background-image:url(../_imagens/radio-tv.png);
	background-repeat:no-repeat;
}